*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(16,16,97,1) 61%, rgba(162,110,12,1) 100%);
background-size: cover;
color: whitesmoke;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    background:rgba(14, 1, 63,0.25);
    padding-top: 25px;
    padding-left: 5px;
    padding-bottom: 25px;
    position: relative;
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;  
}

.logo{
    height: 63px;
    width: 63px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 12px; 
    padding: 2px;
    background: linear-gradient(180deg, rgba(50,43,42,1) 8%, rgba(198,13,0,1) 63%, rgba(251,194,0,1) 97%);
    box-shadow: 0 0 20px 0 rgb(143, 1, 1);
}

.head{
    margin-right: 600px;
    font-size: 35px;
}

li{
    display: inline-block;
    padding-left: 0;
    padding-right: 25px;
}

li a {
    color: whitesmoke;
    text-decoration: none;
}

li a:hover, li a:active {
    color: aqua;
    transition: 5ms;
    text-decoration: overline;
    padding-top: 3px;
}

.home{
    position: relative;
    align-items: center;
    display: flex;
    z-index: 100;
    padding-left: 300px;
    padding-top: 25px;
}

.me{
    height: 275px;
    width: 275px;
    border-radius: 20px;
    position: relative;
     justify-content: right;
     margin-left: 170px;
     padding: 7px;
     background: linear-gradient(285deg, rgba(255,248,10,1) 44%, rgba(251,194,0,1) 92%);
     box-shadow: 0 0 5px rgba(255,248,10,1), 0 0 50px rgba(251,194,0,1), 0 0 100px rgba(50,43,42,1)  ;
    } 

.hm{
    position: relative;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.hm h3{
    font-size: 25px;
}

.hm h2{
    font-size: 35px;
}


.media a{
    color: aqua;
    font-size: x-large;
    margin-right: 7px;
    padding: 0;
    border-radius: 0;
    border: 0cap;
}

.media a:hover {
    box-shadow: 0 0 5px aqua, 0 0 25px aqua, 0 0 50px aqua, 0 0 100px aqua, 0 0 250px aqua, 0 0 500px aqua;
}

.btn{
    background-color: aqua;
    border-radius: 25px;
    padding: 10px;
    color: black;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif  ;
}

.btn_a :hover {
    box-shadow: 0 0 5px aqua, 0 0 25px aqua, 0 0 50px aqua, 0 0 100px aqua, 0 0 250px aqua, 0 0 500px aqua;
}

.services h1, .academics h1{
  font-size: xx-large;
  margin-left: 50px;
  margin-bottom: 20px;
}

.m1{
    height: 200px;
    width: 200px;
    border-radius: 75px;
    position:relative;
    margin-left: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 50px;
    justify-content: left;
       
}

.s1{
    display: inline-flex;
    justify-content: center;
    position: relative;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background: radial-gradient(circle, rgba(63,94,251,0.6278886554621849) 0%, rgba(252,70,107,0.38699229691876746) 100%);
    border-radius: 200px;
    margin: 20px;
}

.s_txt{
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    padding-top: 25px;
    margin-left: -20px;
    padding-right: 15px;
}

.s2{
    display: inline-flex;
    justify-content: center;
    position: relative;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 200px;
    margin: 20px;
    background: radial-gradient(circle, rgba(252,70,107,0.38699229691876746) 0%, rgba(63,94,251,0.6278886554621849) 100%);
}

.aca{
    display: inline-flex;
    justify-content: center;
    position: relative;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 200px;
    margin: 20px;
    background: linear-gradient(90deg, rgba(131,58,180,0.5522584033613445) 0%, rgba(253,29,29,0.5326505602240896) 50%, rgba(252,176,69,0.5886729691876751) 100%);
    margin-bottom: 50px;
}

hr{
    color: rgba(3, 3, 80, 0.603);
}

footer{
    padding-top: 50px;
    margin-left: 75px;
}

.ft{
    margin-left: 100px;
    padding-bottom: 5px;
}